.first-div{
    background-image: url(https://i.stack.imgur.com/vsodZ.jpg);
    background-size: cover;
    height: 400px;
}

.centered{
    position: absolute;
    top: 30%;
    left: 25%;
    margin: -25px 0 0 -25px;
}

  
.imagen{
        width: 100%;
}

.third_div{
    background-color: rgb(234, 234, 234);
    position: relative;
    height: 400px;
}
