.first-div{
    background-image: url(https://usbforwindows.com/storage/img/images_3/function_set_default_image_when_image_not_present.png);
    height: 400px;
}

.centered{
    position: absolute;
    top: 30%;
    left: 25%;
    margin: -25px 0 0 -25px;
}

  
.imagen{
        width: 100%;
}

.third_div{
    background-color: rgb(234, 234, 234);
    position: relative;
    height: 400px;
}
